# Node / Bun / Next.js
node_modules/
.next/
out/
.build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS / Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Env
.env
.env.local
.env.*.local

# Misc
coverage/
